.row-title {
  text-align: center;
  margin-bottom: 18px;
  font-size: 16px;
  color: var(--dyd-text-color-regular);
}
.row {
  display: flex;
  margin-bottom: 32px;
  justify-content: space-around;
}
.row-c{
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}